AndritzHydro.Tuccos/Connected Services/Model/project1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/AndritzHydro.Tuccos.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AndritzHydro.Tuccos.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50603/project.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfProject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Project" nillable="true" type="tns:Project" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProject" nillable="true" type="tns:ArrayOfProject" />
  <xs:complexType name="Project">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProjectId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectYear" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Project" nillable="true" type="tns:Project" />
  <xs:complexType name="ArrayOfSubAssembly">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SubAssembly" nillable="true" type="tns:SubAssembly" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubAssembly" nillable="true" type="tns:ArrayOfSubAssembly" />
  <xs:complexType name="SubAssembly">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Project">
        <xs:sequence>
          <xs:element minOccurs="0" name="SubAssemblyId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="SubAssemblyName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SubAssemblyRngNr" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SubAssembly" nillable="true" type="tns:SubAssembly" />
  <xs:complexType name="ArrayOfCalculationTemplate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CalculationTemplate" nillable="true" type="tns:CalculationTemplate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCalculationTemplate" nillable="true" type="tns:ArrayOfCalculationTemplate" />
  <xs:complexType name="CalculationTemplate">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Calculation">
        <xs:sequence>
          <xs:element minOccurs="0" name="CalculationTemplateId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CalculationTemplate" nillable="true" type="tns:CalculationTemplate" />
  <xs:complexType name="Calculation">
    <xs:sequence>
      <xs:element minOccurs="0" name="CalculationId" type="ser:guid" />
      <xs:element minOccurs="0" name="CalculationType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InputParameter" nillable="true" type="tns:ArrayOfParameter" />
      <xs:element minOccurs="0" name="ProjectId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubAssemblyId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Calculation" nillable="true" type="tns:Calculation" />
  <xs:complexType name="ArrayOfParameter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Parameter" nillable="true" type="tns:Parameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParameter" nillable="true" type="tns:ArrayOfParameter" />
  <xs:complexType name="Parameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="CalculationId" type="ser:guid" />
      <xs:element minOccurs="0" name="ParameterType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParameterUnit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParameterValue" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Parameter" nillable="true" type="tns:Parameter" />
  <xs:complexType name="ArrayOfCalculation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Calculation" nillable="true" type="tns:Calculation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCalculation" nillable="true" type="tns:ArrayOfCalculation" />
  <xs:complexType name="ArrayOfExampleCalculation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExampleCalculation" nillable="true" type="tns:ExampleCalculation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExampleCalculation" nillable="true" type="tns:ArrayOfExampleCalculation" />
  <xs:complexType name="ExampleCalculation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Calculation">
        <xs:sequence>
          <xs:element minOccurs="0" name="CalculationDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Parametera" type="xs:int" />
          <xs:element minOccurs="0" name="Parameterb" type="xs:int" />
          <xs:element minOccurs="0" name="Resultc" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExampleCalculation" nillable="true" type="tns:ExampleCalculation" />
</xs:schema>