AndritzHydro.Tuccos/Connected Services/Model/project2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50603/project.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AndritzHydro.Tuccos.Data" />
  <xs:element name="GetProjectList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AndritzHydro.Tuccos.Data" minOccurs="0" name="GetProjectListResult" nillable="true" type="q1:ArrayOfProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AndritzHydro.Tuccos.Data" minOccurs="0" name="project" nillable="true" type="q2:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AndritzHydro.Tuccos.Data" minOccurs="0" name="project" nillable="true" type="q3:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubAssemblies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubAssembliesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AndritzHydro.Tuccos.Data" minOccurs="0" name="GetSubAssembliesResult" nillable="true" type="q4:ArrayOfSubAssembly" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalculationTemplates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalculationTemplatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AndritzHydro.Tuccos.Data" minOccurs="0" name="GetCalculationTemplatesResult" nillable="true" type="q5:ArrayOfCalculationTemplate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalculations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalculationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AndritzHydro.Tuccos.Data" minOccurs="0" name="GetCalculationsResult" nillable="true" type="q6:ArrayOfCalculation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCalculation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AndritzHydro.Tuccos.Data" minOccurs="0" name="calculation" nillable="true" type="q7:Calculation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCalculationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCalculation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AndritzHydro.Tuccos.Data" minOccurs="0" name="calculation" nillable="true" type="q8:Calculation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCalculationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrificeCalculation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="calcId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrificeCalculationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AndritzHydro.Tuccos.Data" minOccurs="0" name="GetOrificeCalculationResult" nillable="true" type="q9:ArrayOfCalculation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>