AndritzHydro.Tuccos/Connected Services/Model/project1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AndritzHydro.Tuccos.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AndritzHydro.Tuccos.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCountry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Country" nillable="true" type="tns:Country" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCountry" nillable="true" type="tns:ArrayOfCountry" />
  <xs:complexType name="Country">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Country" nillable="true" type="tns:Country" />
  <xs:complexType name="ArrayOfProject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Project" nillable="true" type="tns:Project" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProject" nillable="true" type="tns:ArrayOfProject" />
  <xs:complexType name="Project">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Project" nillable="true" type="tns:Project" />
  <xs:complexType name="ArrayOfSubAssembly">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SubAssembly" nillable="true" type="tns:SubAssembly" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubAssembly" nillable="true" type="tns:ArrayOfSubAssembly" />
  <xs:complexType name="SubAssembly">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Project">
        <xs:sequence>
          <xs:element minOccurs="0" name="RngNr" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="SubAssemblyId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="SubAssemblyName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SubAssembly" nillable="true" type="tns:SubAssembly" />
</xs:schema>