AndritzHydro.Tuccos/Connected Services/localhost/project2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50603/project.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AndritzHydro.Tuccos.Data" />
  <xs:element name="GetCountries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AndritzHydro.Tuccos.Data" minOccurs="0" name="GetCountriesResult" nillable="true" type="q1:ArrayOfCountry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AndritzHydro.Tuccos.Data" minOccurs="0" name="GetProjectListResult" nillable="true" type="q2:ArrayOfProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AndritzHydro.Tuccos.Data" minOccurs="0" name="project" nillable="true" type="q3:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AndritzHydro.Tuccos.Data" minOccurs="0" name="project" nillable="true" type="q4:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>